
body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

.setup-range{
    max-width: 2400px;
    margin-inline: auto;
}


body {
	font-family: Microsoft JhengHei;
	font-size: 15px;
	line-height: 1.6em;
	width: 100%;
	max-height: 100%;
    position: relative;
    background-image: url(../images/body_bg.webp);
    background-size: 2400px;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}


a {
    text-decoration: none;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    text-decoration-color: -moz-use-text-color;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
}

header {
    overflow: hidden;
    z-index: 8888;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #e7e7e7
}

header {
    padding: 0px !important;
}

nav.navbar.navbar-default {
    min-height: 60px;
    padding: 0;
}

header .navbar-brand {
    margin: 0 0 0 0 !important;
    padding: 5px 0 !important;
}

header .navbar-brand img {
    width: 210px;
    height: auto
}

#main {
    position: relative;
}

footer {
    background-color: #222222;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.method-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.btnset {
    text-align: center;
    /* margin: 0 auto 50px; */
}

.btnset a {
    border-radius: 30px;
    font-size: 1.6em;
    font-weight: bolder;
    padding: 0.2em 1em;
    display: inline-block;
}


@media (max-width: 992px) {
    header .container {
        width:100%
    }

    header .container {
        min-height: 50px;
        padding: 0px !important
    }


    header .container .navbar-brand img {
        width: 100%;
        width: 200px;
        height: auto
    }

    header .container .navbar-header {
        width: auto !important
    }

}

@media (max-width: 767px) {

    footer span {
        display: block
    }
}



.btnset a {
    color: #676767;
    border: 3px solid #73ccc3;
    background-color: #fff;
    box-shadow: 3px 5px #40aaa0;
    line-height: 1.2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 90%;
    max-width: 240px;
}/*來去逛逛*/

.btnset a:hover {
    color: #e21e8f;
    /* border: 3px solid #e698aa;
    background-color: #fff;
    box-shadow: 3px 5px #4a89cd; */
}/*來去逛逛滑鼠移入*/



/* 側邊導覽列start */
body{
    scroll-behavior: smooth;
}



/* go top start */
#gotop {
    position: relative;
    position:fixed;
    z-index:90;
    right: 30px;
    bottom: 60px;
    width: 40px;
    height:40px;
    color:#fff;
    background:rgba(0,0,0,0.6);
    line-height:45px;
    border-radius:50%;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gotop a{
    display: block;
    color:#FFF;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.arrowUp {
    width: 14px;
    height: 14px;
    transform: rotate(45deg) translate(2px , 2px);
    border: 1px solid #fff;
    border-bottom: 0;
    border-right: 0;
}
/* go top end */


.topBnAll {
    position: relative;
    overflow: hidden;
}

.arrowUp {
    width: 14px;
    height: 14px;
    transform: rotate(45deg) translate(2px , 2px);
    border: 1px solid #fff;
    border-bottom: 0;
    border-right: 0;
}

::selection {
    color: #fff;
    background: #3a7bc5;
  }

.topicBox{
    position: relative;
}

.animeItem {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.anime_upDown{
    animation: upDown 2.5s infinite linear;
}

@keyframes upDown{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}


/* 輪播用 */
html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .productSetprice a{
    text-decoration: none;
    color: #000;
  }
  .productSetprice a h4{
    text-align: center;
    font-weight: bold;
    margin: 0;
    /* font-size: 18px; */
    font-size: 15px;
    word-break: break-all;
  }
  .productSetprice .priceBox {
    display: flex;
    justify-content: center;
    /* margin-top: 4px; */
    /* flex-direction: column; */
    align-items: baseline;
  }
  .productSetprice .priceBox .oriprice{
      text-decoration: line-through;
      padding-right: 10px;
      color: #999;
  }

  .productSetprice .priceBox .oriprice.text-white{
      color: #fff;
  }

  .productSetprice .priceBox .speprice{
    color: red;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
  }

  .productSetprice .priceBox .speprice .greytext{
      font-size: 14px;
  }
  .productSetprice .priceBox .greytext.average{
    font-size: 11px;
    color: red;
    height: 20px;
}

  .topCarbox{
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 30%;
  }

  *:focus-visible {
        outline: none !important;
    }
    *:focus {
        outline: none !important;
    }

    .box {
        max-width: 245px;
        padding: 5px;
        height: 45px;
        padding-top: 5px;
        margin: 0 auto;
    }
    .ellipsis {
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        word-break: break-all;
    }
    .text-white{
        color: #fff;
    }

  /* 輪播用 end */

    /* swiper */
    * [class^="swiper-container"]{
        margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1;padding-bottom: 20px;
    }
    .swiper-wrapper{
        z-index: 10;
    }


    /* swiper end */



  


    /* 側邊導覽列start */
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}

.sidepanel  {
    /* width: 250px; */
    position: fixed;
    z-index: 20;
    height: auto;
    top: 100px;
    right: -200px;
    background-color: #000;
    /* border: 3px solid #ddd28d; */
    border-right: none;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 30px;
    border-radius: 30px 0 0 45px;
  }
  
  
  .sidepanel a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
    background-color: #63bdb4;
  }
  .sidepanel a.closebtn{
      padding: 8px;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 16px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 15;
    border: 1px solid rgba(255,255,255,.4);
  }
  
  .openbtn:hover {
    background-color:#444;
  }
/* 側邊導覽列end */

/* 手機選單 */
.dropbtn {
    background-color: #ddd;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ccc;
  }
  
  .dropdown {
  /*   position: relative; */
    display: inline-block;
    right: -37px;
    top: 30px;
    transform: translate(-50%, -50%);
    z-index: 10000;
    position: fixed;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a:nth-child(2n) {
    background-color: #fff;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .hamline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.hamline div {
    width: 40px;
    height: 4px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
}

/* 手機選單 end */

  /* row修正 */
  .row{
      margin: 0;
  }

    * [class^="col-"]{
        padding-left: 0px;
        padding-right: 0px;
    }

    /* row修正 end */


    .aniview{
        opacity: 0;
    }

    section#kvTopBN {
        margin-top: 60px;
        background-image: url(../images/topBn_bigbg-2.webp);
        background-position: center;
        background-size: auto;
        background-position: center top;
        background-repeat: no-repeat;
    }

    
    footer p{
        margin: 0;
    }

    .methodBoxAll{
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
    }
    
    
    .actallBox .swiper-container{
        padding-bottom: 30px;
    }
    
    
    h4.specialtitle {
        font-size: 30px;
        text-align: center;
        background-color: #ff6142;
        border-radius: 10px 10px 0 0;
        padding-top: 5px;
        /* padding-bottom: 5px; */
        color: #fff;
        font-family: arial;
        margin-bottom: 0;
    }
 
    h4.specialtitle2{
        background-color: #008edf;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 5px;
    }
    .swiper-container3{
        padding-bottom: 20px;
    }
    
    a:hover{
        color: #3e68c7;
        scroll-behavior: smooth;
    }

    .productSetprice .priceBox .oriprice.discountBox{
        background-color: red;
        color: #fff;
        text-decoration: none;
        padding: 2px 5px;
        border-radius: 4px;
    }


    /* ============================= 20211021 */

    section#method a {
        margin: 0 3px;
        color: #e0218c;
        padding: 0 .5rem;
    }
    section#method a:hover {
        color: #fff;
        background-color: #e0218c;
        text-shadow: none;
        border-radius: 20px;
    }

    main section{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .topbgBox{
        background-size: auto;
        background-position:top center;
    }

   
    .swiper-container2,.swiper-container1,.swiper-container31,.swiper-container3{
        padding: 5px;
        padding-bottom: 20px;
    }
    
    .imgzidex{
        position: relative;
        z-index: 20;
    }

    .milkani{
        animation-delay: calc(var(--i)* 0.08s);
    }

   
    
    .swiper-container3.swiper-container-horizontal>.swiper-pagination-bullets{
        bottom: 0px;
    }


    .pe-none{
        pointer-events: none;
        user-select: none;
    }


    .productSetprice{
        /* background: linear-gradient(to bottom,rgba(255,255,255,0),#fff); */
        /* background: #FFF; */
        /* border-bottom: 4px solid #437441; */
        /* border-top: 2px solid #437441; */
        border-radius: 0 0 20px 20px;
        padding: 0px;
        overflow: hidden;
        margin: 3px;
        /* padding-top: 10px;
        padding-bottom: 10px; */
        /* box-shadow: 0 0 10px rgb(0 0 0 / 7%); */
    }

    h3.method-title{
        background: #5abdb6;
        color: #fff;
        /* border-radius: 99px; */
        padding: 5px 15px;
        font-weight: 500;
        position: relative;
    }


    .animeItemlight{
        mix-blend-mode: screen;
    }


    .item-title{
        width: 46.3%;
        top: 34%;
        left: 48%;
        translate:-50% -50%;
    }


    .item-p1{
        width: 24.7%;
        top: 0%;
        left: 3%;
    }

    .item-p2{
        width: 26.2%;
        top: 0%;
        right: 6%;
    }

    .leaf{
        width: 119%;
        bottom: -8%;
        left: -6%;
    }





    .wobble-hor-bottom-2{-webkit-animation:wobble-hor-bottom-2 5s cubic-bezier(.25,.46,.45,.94) infinite both;animation:wobble-hor-bottom-2 5s cubic-bezier(.25,.46,.45,.94) infinite both}

    @-webkit-keyframes wobble-hor-bottom-2{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom-2{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}



    .item-sub-m{
        top: -2%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        user-select: none;
        pointer-events: none;
    }


    .item-p1-m{
        bottom: 5%;
        right: -5%;
        width: 82%;
    }

    .bottom_menu .bottom_menu_inner{
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        background: #000;
        color: #fff;
        overflow-x: scroll;
        overflow-y: hidden;
        /* padding: 10px 0; */
    }

    .bottom_menu .bottom_menu_inner a {
        color: #fff;
        padding: 10px 10px;
    }

    .bottom_menu .bottom_menu_inner a:hover {
        background: #354eb4;
    }

    .bottom_menu {
        position: fixed;
        bottom: 0%;
        display: none;
        width: 100%;
        height: 50px;
        z-index: 30;
        background-color: #000;
    }

    .bottom_menu_box{
        position: relative;
        top: 0;
        left: 0;
    }

    * [class^="swiper-button-"] {
        /* background: rgba(255, 255, 255, 1); */
        /* background: linear-gradient(-90deg, rgba(0,0,0,.1), rgba(255,255,255,0)); */
        /* border-radius: 50%; */
        width: 25px;
        height: 100%;
        /* box-shadow: 0 0 3px rgb(0 0 0 / 30%); */
        position: absolute;
        top: 9%;
        z-index: 15;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-button-prev{
        /* background: linear-gradient(90deg, rgba(0,0,0,.1), rgba(255,255,255,0)); */
      }

      .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        right: 0;
      }

      .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 0;
      }

      * [class^="swiper-button-"]::after {
        font-size:20px;
      }

    /* ============================= 20221223 */


    .swiperCover2 .swiper-slide img{
        opacity: .5;
        /* opacity: 1; */
        transition: all .3s;
    }

    .swiperCover2 .swiper-slide.swiper-slide-active img{
        opacity: 1;
        transition: all .3s;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active{
        /* width: 20px; */
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 99px;
        transition: all .5s;
    }

    .swiper-pagination-bullet{
        transition: all .5s;
    }

    .swiperCover2 .swiper-slide {
        opacity: 0;
    }

    .swiperCover2 .swiper-slide.swiper-slide-prev,
    .swiperCover2 .swiper-slide.swiper-slide-active,
    .swiperCover2 .swiper-slide.swiper-slide-next{
        opacity: 1;
    }

  

    section#method h4 {
        color: #506ee1;
        font-weight: 600;
        font-size: 1.2rem;
        padding-left: 16px;
    }


    .btnset br{
        display: none;
    }

    .swiper-slide a{
        display: block;
        text-align: center;
    }



    .visualBox .swiper-slide img{
        opacity: 0;
        transition-duration: .5s;
    }


    .visualBox .swiper-slide.swiper-slide-active img{
        -webkit-animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both;
        opacity: 1;
        transition-duration: .5s;
    }

    .logoout{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        height: 100%;
        position: relative;
        background: #fff;
        border: 5px solid #4ebdb8;
        box-shadow: inset 0 0 0 2px #60e1cc, 5px 5px 0 3px rgba(78,189,184,.5);
        border-radius: 10px;
        padding: 1.5rem .5rem 1rem;
    }

    .logo{
        flex: 0 1 13%;
    }

    .clip{
        width: 30%;
        margin-bottom: -3%;
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .actbig-box::after{
        position: absolute;
        display: block;
        content: "";
        width: 200%;
        height: 200%;
        background: url(../images/cloud.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        translate: -50% -50%;
        top: 10%;
        left: 50%;
        z-index: -1;
        animation: upDown 3s infinite linear;
        /* isolation: isolate; */
    }

    .special-inn{
        background-image: url(../images/special-box.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .specialbox{
        background-image: url(../images/gress.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .specialbox .container::after{
        position: absolute;
        content: "";
        display: block;
        /* z-index: -1; */
        background: url(../images/fly-leaf.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        translate: -50% -50%;
        top: 53%;
        left: 50%;
        width: 130%;
        height: 125%;
        pointer-events: none;
        user-select: none;
    }

    .care-outbox-car{
        background: #fff;
        border: 5px solid #4ebdb8;
        box-shadow: inset 0 0 0 2px #60e1cc, 5px 5px 0 3px rgba(78,189,184,.5);
        border-radius: 10px;
    }

    .sub-care .teethmagic{
        top: -16%;
        left: -25%;
        width: 40%;
        animation: upDown 3s infinite linear;
        animation-delay: -.5s;
    }

    .sub-care{
        margin-bottom: -10%;
        z-index: 5;
    }

    .carebigbox::after{
        position: absolute;
        display: block;
        content: "";
        width: 200%;
        height: 100%;
        background: url(../images/cloud.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        translate: -50% -50%;
        top: 50%;
        left: 50%;
        z-index: -1;
        animation: upDown 3s infinite linear;
    }

    .childbox{
        background: url(../images/child-bg.webp);
        padding: 0% 0 8%;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 96% 90%;

    }

    .childbox .sub-care{
        margin-bottom: -5%;
    }

    .child-p4{
        translate: -10% 0%;
    }

    .child-animal01{
        width: 20%;
        top: 8%;
        left: -3%;
        animation:wobble-hor-bottom 8s infinite both;
    }


    .child-animal02{
        width: 13.7%;
        bottom: 10%;
        right: -5%;
        animation:wobble-hor-bottom 8s infinite both;
    }

    .child-animal02-chat{
        width: 10.27%;
        bottom: 51%;
        right: 0%;
    }

    .childbox .sub-care .teethmagic{
        width: 24%;
        left: -15%;
    }

    .carebigbox-row{
        translate: 3% 0;
    }





    .fade-in-right{-webkit-animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both}
    @-webkit-keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}





   
    .flicker-2{-webkit-animation:flicker-2 3s linear infinite both;animation:flicker-2 3s linear infinite both;}
    @-webkit-keyframes flicker-2{0%,100%{opacity:1}41.99%{opacity:1}42%{opacity:0}43%{opacity:0}43.01%{opacity:1}45.99%{opacity:1}46%{opacity:0}46.9%{opacity:0}46.91%{opacity:1}51.99%{opacity:1}52%{opacity:0}52.8%{opacity:0}52.81%{opacity:1}}@keyframes flicker-2{0%,100%{opacity:1}41.99%{opacity:1}42%{opacity:0}43%{opacity:0}43.01%{opacity:1}45.99%{opacity:1}46%{opacity:0}46.9%{opacity:0}46.91%{opacity:1}51.99%{opacity:1}52%{opacity:0}52.8%{opacity:0}52.81%{opacity:1}}


    .wobble-hor-bottom{animation:wobble-hor-bottom 8s infinite both;}
    @-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}

    .pulsate-fwd{-webkit-animation:pulsate-fwd 1s ease-in infinite both;animation:pulsate-fwd 2s ease-in infinite both;}
    @-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}

    .ping{-webkit-animation:ping 2s ease-out infinite both;animation:ping 2s ease-out infinite both;}
    @-webkit-keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}@keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}

    .scale-up-center{-webkit-animation:scale-up-center 4s cubic-bezier(.39,.575,.565,1.000) infinite both;animation:scale-up-center 4s cubic-bezier(.39,.575,.565,1.000) infinite both;}
    @-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}

    .scale-down-center{-webkit-animation:scale-down-center .8s ease-in-out infinite alternate-reverse both;animation:scale-down-center .8s ease-in-out infinite alternate-reverse both}
    @-webkit-keyframes scale-down-center{0%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.9);transform:scale(.9)}}@keyframes scale-down-center{0%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.9);transform:scale(.9)}}


    .flip-vertical-left{-webkit-animation:flip-vertical-left 3s cubic-bezier(.455,.03,.515,.955) infinite alternate-reverse;animation:flip-vertical-left 3s cubic-bezier(.455,.03,.515,.955) infinite alternate-reverse}
    @-webkit-keyframes flip-vertical-left{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}100%{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg)}}@keyframes flip-vertical-left{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}100%{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg)}}

    @media screen and (min-width: 2000px){
        
    }
   
    @media screen and (min-width: 1920px){
        main{
            background-image: none;
        }

        .specialbox{
            background-size: 100% 100%;
        }

    }


    @media screen and (max-width: 1600px){
        body{
            background-size: 100%;
        }
    }

    @media screen and (max-width: 1439px){

        section#kvTopBN{
            background-size: cover;
        }
        body{
            background-size: 100%;
        }


    }

    @media screen and (max-width: 1199px){
        .productSetprice .priceBox{
            /* flex-direction: column; */
        }
        .productSetprice .priceBox .oriprice.discountBox{
            display: block;
            width: 100%;
            border-radius: 0;
            text-align: center;
        }
    }

    @media screen and (max-width: 991px){
        .productSetprice .priceBox .oriprice{
            font-size: 14px;
        }
        .productSetprice .priceBox .speprice{
            font-size: 18px;
        }
        .productSetprice a h4{
            font-size: 15px;
        }

        .logo {
            flex: 0 1 15%;
        }

        .sub-care .teethmagic{
            left: -36%;
        }
        .childbox .sub-care .teethmagic{
            left: -28%;
        }

    }




    @media screen and (max-width: 767px){
        .method-title{
            font-size: 1.4em;
        }
        body{
            background-size: 100%;
        }
        main section{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .productSetprice .priceBox .oriprice.discountBox{
            display: block;
            width: 100%;
            border-radius: 0;
            text-align: center;
        }
        .productSetprice .priceBox .oriprice{
            font-size: 14px;
            height: 20px;
        }

        .productSetprice .priceBox .speprice .greytext{
            font-size: 12px;
        }
        .box{
            height: 42px;
        }
        .productSetprice{
            margin: 2px;
        }

        .bottom_menu{
            display: block;
        }
        footer {
            padding-bottom: 70px;
        }

        section#kvTopBN{
            background: none;
        }

        * [class^="swiper-button-"]{
            display: none;
        }


        .logo{
            flex: 0 1 22%;
        }

        .sub-brand {
            scale: 1.2;
            position: relative;
            z-index: 1;
        }

        .clip{
            width: 33%;
            margin-bottom: -5%;
        }

        .specialbox{
            background-size: 450%;
            background-position: bottom;
        }

        .specialbox .container::after{
            top: 23%;
            left: 50%;
            width: 124%;
            height: 125%;
        }

        .carebigbox::after{
            background-size: cover;
        }

        .sub-care .teethmagic{
            left: -35%;
        }

        .care-p1{
            translate: 0% 19%;
        }

        .child-p4{
            translate: 0% 8%;
        }

        .child-p4-a{
            width: 70%;
        }

        .child-animal02{
            width: 17.7%;
            bottom: 62%;
            right: -2%;
            animation: none;
        }

        .child-animal01{
            width: 25%;
            top: 49%;
            animation: none;
        }

        .child-animal02-chat {
            width: 14.27%;
            bottom: 79%;
            right: 3%;
        }

        .childbox{
            background-size: cover;
        }


        .childbox .sub-care .teethmagic{
            left: -23%;
        }

        .carebigbox-row{
            translate: 0% 0;
        }

        .item-p1{
            width: 53%;
            bottom: -3%;
            top: auto;
            left: 0%;
        }

        .item-p2{
            width: 53%;
            bottom: -2%;
            top: auto;
            right: 3%;
        }

    }

    @media screen and (max-width: 640px){
        .btnset a{
            border-radius: 15px;
            font-size: 1.4em;
            width: 80%;
            padding-left: .5rem;
            padding-right: .5rem;
        }

        .childbox {
            background-size: 318%;
        }

    }

    @media screen and (max-width: 480px){
        .btnset a{
            width: 95%;
        }
        .btnset br{
            display: block;
        }

    }

    @media screen and (max-width: 400px){
        .productSetprice .priceBox{
            /* flex-direction: column; */
        }
        .btnset br{
            display: block;
        }
    }

